Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Add tag account_es_sii-7.4.2
  .hgtags
Due: none

Increase version number
  modules/account_es_sii/tryton.cfg
Due: documentation

Prepare release account_es_sii-7.2.4
  modules/account_es_sii/CHANGELOG
  modules/account_es_sii/COPYRIGHT
Due: documentation

Add tag account_es_sii-7.2.4
  .hgtags
Due: none

Prepare release account_es_sii-7.0.4
  modules/account_es_sii/CHANGELOG
  modules/account_es_sii/COPYRIGHT
Due: documentation

Add tag account_es_sii-7.0.4
  .hgtags
Due: none

Prepare release account_dunning_letter-7.4.1
  modules/account_dunning_letter/CHANGELOG
  modules/account_dunning_letter/COPYRIGHT
Due: documentation

Add tag account_dunning_letter-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_dunning_letter/tryton.cfg
Due: documentation

Prepare release account_dunning_letter-7.2.1
  modules/account_dunning_letter/CHANGELOG
  modules/account_dunning_letter/COPYRIGHT
Due: documentation

Add tag account_dunning_letter-7.2.1
  .hgtags
Due: none

Prepare release account_dunning_letter-7.0.1
  modules/account_dunning_letter/CHANGELOG
  modules/account_dunning_letter/COPYRIGHT
Due: documentation

Add tag account_dunning_letter-7.0.1
  .hgtags
Due: none

Prepare release account-7.4.3
  modules/account/CHANGELOG
  modules/account/COPYRIGHT
Due: documentation, test-demo

Add tag account-7.4.3
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Prepare release account-7.2.10
  modules/account/CHANGELOG
  modules/account/COPYRIGHT
Due: documentation, test-demo

Add tag account-7.2.10
  .hgtags
Due: none

Prepare release account-7.0.16
  modules/account/CHANGELOG
  modules/account/COPYRIGHT
Due: documentation, test-demo

Add tag account-7.0.16
  .hgtags
Due: none

Prepare release account-6.0.29
  modules/account/CHANGELOG
  modules/account/COPYRIGHT
Due: documentation, test-demo

Add tag account-6.0.29
  .hgtags
Due: none

Use company from the record when copying budget
  modules/account_budget/account.py
Due: check-flake8, check-isort

Use compute fields for intrastat type and value
  modules/account_stock_eu/stock.py
Due: check-flake8, check-isort

Use compute fields for attendance date
  modules/attendance/attendance.py
Due: check-flake8, check-isort

Use compute fields for IBAN number
  modules/bank/bank.py
Due: check-flake8, check-isort

Use compute fields for format contact mechanism value
  modules/party/contact_mechanism.py
Due: check-flake8, check-isort, test-demo

Use start and end periods for AEAT reporting
  modules/account_es/CHANGELOG
  modules/account_es/reporting_tax.py
  modules/account_es/tests/scenario_reporting.rst
  modules/account_es/tests/scenario_reporting_compensate.rst
  modules/account_es/view/print_aeat_start_form.xml
Due: documentation, check-flake8, check-isort

Test SEPA mandate sequence type by ordered date
  modules/account_payment_sepa/tests/test_module.py
Due: check-flake8, check-isort

Sort SEPA payments by date
  modules/account_payment_sepa/payment.py
Due: check-flake8, check-isort
