Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release account_payment_clearing-7.0.4
  modules/account_payment_clearing/CHANGELOG
Due: documentation

Add tag account_payment_clearing-7.0.4
  .hgtags
Due: none

Increase version number
  modules/account_payment_clearing/tryton.cfg
Due: documentation

Prepare release account_payment_clearing-6.0.4
  modules/account_payment_clearing/CHANGELOG
Due: documentation

Add tag account_payment_clearing-6.0.4
  .hgtags
Due: none

Prepare release account_es-7.4.1
  modules/account_es/CHANGELOG
Due: documentation

Add tag account_es-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_es/tryton.cfg
Due: documentation

Prepare release account_es-7.2.2
  modules/account_es/CHANGELOG
Due: documentation

Add tag account_es-7.2.2
  .hgtags
Due: none

Prepare release account_es-7.0.3
  modules/account_es/CHANGELOG
Due: documentation

Add tag account_es-7.0.3
  .hgtags
Due: none

Prepare release account_es-6.0.5
  modules/account_es/CHANGELOG
Due: documentation

Add tag account_es-6.0.5
  .hgtags
Due: none

Prepare release account-7.4.4
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.4.4
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Prepare release account-7.2.11
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.2.11
  .hgtags
Due: none

Prepare release account-7.0.17
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.0.17
  .hgtags
Due: none

Limit account types used for analytic distribution
  modules/analytic_account/account.py
Due: check-flake8, check-isort

Explain how to extend field definition in tutorial
  trytond/doc/tutorial/module/extend.rst
Due: documentation

Fix typos and improve wording in modules topic documentation
  trytond/doc/topics/modules/index.rst
Due: documentation

Fix readonly states in extend topic of module tutorial
  trytond/doc/tutorial/module/extend.rst
Due: documentation

Distinct between users and database user in setup database documentation
  trytond/doc/topics/setup_database.rst
Due: documentation

Display metric option to UPS credential form
  modules/stock_package_shipping_ups/view/ups_credential_form.xml
Due: none
