Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o /tmp
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.8
  variables:
    TRYTOND_DATABASE__PATH: /tmp
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  - touch /tmp/demo.sqlite
  ...

Forbid changing company of subscription if there are lines or invoice party set
  modules/sale_subscription/subscription.py
Due: check-flake8, check-isort

Make lines of sales, subscriptions and purchases read only without a company and currency
  modules/purchase/purchase.py
  modules/sale/sale.py
  modules/sale_subscription/subscription.py
Due: check-flake8, check-isort, test-demo

Add payable/receivable date on move line group
  modules/account/move.py
  modules/account_move_line_grouping/account.xml
  modules/account_move_line_grouping/view/move_line_group_form_payable_receivable.xml
  modules/account_move_line_grouping/view/move_line_group_list_payabale_receivable.xml
Due: check-flake8, check-isort, test-demo

Initialize position of One2Many widget to None/null
  sao/src/view/form.js
  tryton/tryton/gui/window/view_form/view/form_gtk/one2many.py
Due: check-flake8, check-isort, check-eslint

Update window form buttons when record is modified
  sao/src/window.js
  tryton/tryton/gui/window/win_form.py
Due: check-flake8, check-isort, check-eslint

Check for new record only when saving an actual current record
  sao/src/screen.js
Due: check-eslint

Trigger record message even if current record has not changed
  sao/src/screen.js
  tryton/tryton/gui/window/view_form/screen/screen.py
Due: check-flake8, check-isort, check-eslint

Force record message when selection has changed but not the current record
  tryton/tryton/gui/window/view_form/view/list.py
Due: check-flake8, check-isort

Correctly clear all kinds of info bar messages
  sao/src/window.js
Due: check-eslint

Set supplier unit price for purchase request in test scenario
  modules/purchase_requisition/tests/scenario_purchase_requisition.rst
  modules/sale_supply_drop_shipment/tests/scenario_sale_supply_drop_shipment_amendment.rst
  modules/sale_supply_drop_shipment/tests/scenario_sale_supply_drop_shipment_remaining_qty.rst
  modules/sale_supply_drop_shipment/tests/scenario_sale_supply_drop_shipment_split.rst
Due: check-flake8, check-isort

Update test scenario to use "Accounting" in group names
  modules/account_dunning/tests/scenario_account_dunning.rst
  modules/account_dunning_letter/tests/scenario_account_dunning_letter.rst
  modules/account_stock_anglo_saxon/tests/scenario_account_stock_anglo_saxon.rst
  modules/account_stock_anglo_saxon/tests/scenario_account_stock_anglo_saxon_with_drop_shipment.rst
  modules/project_invoice/tests/scenario_project_invoice_timesheet.rst
  modules/purchase_invoice_line_standalone/tests/scenario_purchase_invoice_line_standalone.rst
  modules/sale_invoice_grouping/tests/scenario_sale_invoice_grouping.rst
  modules/sale_supply_drop_shipment/tests/scenario_sale_supply_drop_shipment.rst
Due: check-flake8, check-isort

Set unit price to purchase line from request in test scenario
  modules/sale_supply/tests/scenario_sale_supply.rst
Due: check-flake8, check-isort

Add default value to user in set_user testing tool
  trytond/doc/ref/tests.rst
  trytond/trytond/tests/tools.py
Due: documentation, check-flake8, check-isort

Remove access right tests in scenario
  modules/account_dunning/tests/scenario_account_dunning.rst
  modules/account_dunning_letter/tests/scenario_account_dunning_letter.rst
  modules/account_stock_anglo_saxon/tests/scenario_account_stock_anglo_saxon.rst
  modules/account_stock_anglo_saxon/tests/scenario_account_stock_anglo_saxon_with_drop_shipment.rst
  modules/analytic_purchase/tests/scenario_analytic_purchase.rst
  modules/analytic_sale/tests/scenario_analytic_sale.rst
  modules/production_work/tests/scenario_production_work.rst
  modules/project_invoice/tests/scenario_project_invoice_effort.rst
  modules/project_invoice/tests/scenario_project_invoice_progress.rst
  modules/project_invoice/tests/scenario_project_invoice_timesheet.rst
  modules/purchase/tests/scenario_purchase.rst
  modules/purchase_invoice_line_standalone/tests/scenario_purchase_invoice_line_standalone.rst
  modules/purchase_product_quantity/tests/scenario_purchase_product_quantity.rst
  modules/purchase_request/tests/scenario_purchase_request.rst
  modules/purchase_request_quotation/tests/scenario_purchase_request_quotation.rst
  modules/purchase_requisition/tests/scenario_purchase_requisition.rst
  modules/sale/tests/scenario_sale.rst
  modules/sale_invoice_grouping/tests/scenario_sale_invoice_grouping.rst
  modules/sale_opportunity/tests/scenario_sale_opportunity.rst
  modules/sale_price_list/tests/scenario_sale_price_list.rst
  modules/sale_shipment_grouping/tests/scenario_sale_shipment_grouping.rst
  modules/sale_supply/tests/scenario_sale_supply.rst
  modules/sale_supply_drop_shipment/tests/scenario_sale_supply_drop_shipment.rst
  modules/stock/tests/scenario_stock_shipment_internal.rst
  modules/stock/tests/scenario_stock_shipment_out.rst
  modules/stock_supply/tests/scenario_stock_internal_supply.rst
  modules/stock_supply/tests/scenario_stock_supply_purchase_request.rst
Due: check-flake8, check-isort, test-demo

Set cursor on product field in opportunity line form
  modules/sale_opportunity/view/opportunity_line_form.xml
Due: none

Test if views attribute is empty using jQuery.isEmptyObject
  sao/src/model.js
Due: check-eslint

Do not fill mode and views for relation field without views
  trytond/trytond/model/modelview.py
Due: check-flake8, check-isort

Clear browser selection when selecting multiple rows
  sao/src/common.js
  sao/src/view/tree.js
Due: check-eslint

Re-open Shopify order when the sale is no more done
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Create Shopify fulfillment when customer shipment is shipped
  modules/web_shop_shopify/stock.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
