Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o /tmp
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.8
  variables:
    TRYTOND_DATABASE__PATH: /tmp
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  - touch /tmp/demo.sqlite
  ...

Compute digits of float value before applying factor
  sao/src/common.js
  tryton/tryton/common/domain_parser.py
Due: check-flake8, check-isort, check-eslint

Add before/after methods for CWRD methods of ModelStorage
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/ir/note.py
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
Due: documentation, check-flake8, check-isort

Remove wrong classmethod decorator on compute_fields of timesheet line
  modules/timesheet_cost/timesheet.py
Due: check-flake8, check-isort

Clear currency on output move of production to lost and found
  modules/production/stock.py
Due: check-flake8, check-isort, test-demo

Do not override all written ids by ids from each argument in ModelSQL write
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Check invoice state only for modified lines with an invoice
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Remove coupon name in Vue Storefront test
  modules/web_shop_vue_storefront/tests/test_module.py
Due: check-flake8, check-isort

Reset sale and shipment to draft before delete
  modules/sale_shipment_grouping/tests/scenario_sale_shipment_grouping_multiple.rst
  modules/sale_stock_quantity/tests/scenario_sale_stock_quantity.rst
Due: check-flake8, check-isort

Update on_* field of trigger in tests
  modules/notification_email/tests/test_module.py
  proteus/proteus/tests/test_model.py
Due: check-flake8, check-isort

Allow EU excise declaration in alcohol volume
  modules/stock_ethanol/account_stock_eu.py
  modules/stock_ethanol/tests/test_module.py
  modules/stock_ethanol/tryton.cfg
Due: documentation, check-flake8, check-isort

Use locale format in domain parser and search filter for numbers
  sao/src/common.js
  sao/src/screen.js
Due: check-eslint

Add DecimalNull as tools
  modules/product_price_list/price_list.py
  trytond/CHANGELOG
  trytond/doc/ref/tools/decimal.rst
  trytond/doc/ref/tools/index.rst
  trytond/trytond/tools/decimal_.py
Due: documentation, check-flake8, check-isort

Do not precede negative currency symbol in Italian
  trytond/trytond/ir/lang.xml
Due: none

Display xxx2Many widgets when they become visible
  sao/src/view/tree.js
Due: check-eslint

Delete warnings at the end of the Transaction
  trytond/CHANGELOG
  trytond/doc/ref/transaction.rst
  trytond/trytond/res/user.py
  trytond/trytond/transaction.py
Due: documentation, check-flake8, check-isort

Coalesce boolean account type columns on negative clause
  modules/account/journal.py
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Prevent to revise multiple times the same asset with the same invoice line
  modules/account_asset/asset.py
  modules/account_asset/message.xml
Due: check-flake8, check-isort

Always use flex display for #tabcontent except on small screen
  sao/src/sao.less
  sao/src/tab.js
Due: check-eslint

Add chat
  trytond/CHANGELOG
  trytond/trytond/ir/__init__.py
  trytond/trytond/ir/chat.py
  trytond/trytond/ir/exceptions.py
  trytond/trytond/ir/message.xml
  trytond/trytond/model/__init__.py
  trytond/trytond/model/chat.py
Due: documentation, check-flake8, check-isort

Add simple chat widget on sidebar of clients
  sao/CHANGELOG
  sao/Gruntfile.js
  sao/images/tryton-chat.svg
  sao/images/tryton-note.svg
  sao/src/bus.js
  sao/src/chat.js
  sao/src/common.js
  sao/src/sao.less
  sao/src/screen.js
  sao/src/tab.js
  tryton/CHANGELOG
  tryton/tryton/bus.py
  tryton/tryton/chat.py
  tryton/tryton/client.py
  tryton/tryton/common/__init__.py
  tryton/tryton/common/common.py
  tryton/tryton/data/pixmaps/tryton/tryton-chat.svg
  tryton/tryton/data/pixmaps/tryton/tryton-note.svg
  tryton/tryton/gui/window/form.py
  tryton/tryton/gui/window/tabcontent.py
  tryton/tryton/gui/window/view_form/screen/screen.py
  tryton/tryton/rpc.py
  trytond/trytond/ir/chat.py
  trytond/trytond/ir/ui/menu.py
Due: documentation, check-flake8, check-isort, check-eslint

Update npm dependencies
  sao/bower.json
  sao/eslint.config.mjs
  sao/package.json
  sao/tests/index.html
  sao/tests/sao.js
Due: check-eslint

Display checkbox in multiselection in the filter window
  sao/src/sao.less
  tryton/tryton/gui/window/view_form/view/screen_container.py
Due: check-flake8, check-isort

Toggle the option's selected state on mousedown in the filter window
  sao/src/screen.js
  tryton/tryton/gui/window/view_form/view/screen_container.py
Due: check-flake8, check-isort, check-eslint

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
