Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o /tmp
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.8
  variables:
    TRYTOND_DATABASE__PATH: /tmp
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  - touch /tmp/demo.sqlite
  ...

Set sao's multiselection widget height according to its content
  sao/src/sao.less
  sao/src/screen.js
  sao/src/view/form.js
Due: check-eslint

Add launch_action helper function
  proteus/CHANGELOG
  proteus/proteus/__init__.py
  proteus/proteus/tests/test_action.py
Due: documentation, check-flake8, check-isort

Increase delay between transaction retries
  trytond/trytond/protocols/dispatcher.py
  trytond/trytond/protocols/wrappers.py
  trytond/trytond/worker.py
Due: check-flake8, check-isort

Use "Accounting" in the group names
  modules/account/account.xml
Due: test-demo

Enforce size of invoice XML values for SII service
  modules/account_es_sii/account.py
Due: check-flake8, check-isort

Document setup of Shopify variants
  modules/web_shop_shopify/doc/usage.rst
Due: documentation

Do not include record with NULL field in nested negative clause on None
  trytond/doc/topics/domain.rst
  trytond/trytond/model/fields/many2one.py
  trytond/trytond/model/fields/reference.py
  trytond/trytond/tests/test_field_many2one.py
  trytond/trytond/tests/test_field_reference.py
Due: documentation, check-flake8, check-isort

Include version number on new version available message
  tryton/tryton/common/common.py
Due: check-flake8, check-isort

Raise UserError from the database exception
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Add pack step to test scenario using internal shipment
  modules/product_cost_warehouse/tests/scenario_account_stock_continental.rst
  modules/product_cost_warehouse/tests/scenario_product_cost_warehouse.rst
  modules/stock_location_move/tests/scenario_stock_location_move.rst
  modules/stock_lot/tests/scenario_stock_lot_shipment_out_internal.rst
Due: check-flake8, check-isort

Do not use instanceof on value of Date and DateTime of Dict field
  sao/src/view/form.js
Due: check-eslint

Use .input-icon for date/time input button in Dict widget
  sao/src/view/form.js
Due: check-eslint

Set grid template columns to 100% of dict container on XS screen
  sao/src/sao.less
Due: none

Document that Modify Header wizards are recalculating lines
  modules/purchase/doc/design.rst
  modules/sale/doc/design.rst
Due: documentation, test-demo

Convert list/tuple value to list of IDs only if it contains records
  modules/purchase/purchase.py
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Ensure the contextual company is not None and positive before using it
  modules/account/journal.py
  modules/account/tax.py
  modules/account_consolidation/account.py
  modules/account_credit_limit/account.py
  modules/account_invoice/payment_term.py
  modules/account_payment_sepa/payment.py
  modules/commission/commission.py
  modules/product_cost_history/product.py
  modules/product_cost_warehouse/product.py
  modules/purchase/purchase.py
  modules/purchase_blanket_agreement/purchase.py
  modules/purchase_requisition/purchase.py
  modules/sale/product.py
  modules/sale/sale.py
  modules/sale/sale_reporting.py
  modules/sale_blanket_agreement/sale.py
  modules/sale_opportunity/opportunity.py
  modules/sale_point/sale_reporting.py
  modules/sale_subscription/subscription.py
  modules/stock/product.py
  modules/stock/stock_reporting_margin.py
  modules/web_shop/web.py
Due: check-flake8, check-isort, test-demo

Ensure the contextual company is not None and positive before using it
  modules/account/journal.py
  modules/account/tax.py
  modules/account_credit_limit/account.py
  modules/account_invoice/payment_term.py
  modules/account_payment_sepa/payment.py
  modules/commission/commission.py
  modules/product_cost_warehouse/product.py
  modules/purchase/purchase.py
  modules/purchase_requisition/purchase.py
  modules/sale/product.py
  modules/sale/sale.py
  modules/sale/sale_reporting.py
  modules/sale_subscription/subscription.py
  modules/stock/stock_reporting_margin.py
  modules/web_shop/web.py
Due: check-flake8, check-isort, test-demo

Set party of statement line readonly when state is not draft
  modules/account_statement/statement.py
Due: check-flake8, check-isort, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
