Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Add tag sao-6.0.54
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Prepare release stock_shipment_measurements-7.4.1
  modules/stock_shipment_measurements/CHANGELOG
  modules/stock_shipment_measurements/COPYRIGHT
Due: documentation

Add tag stock_shipment_measurements-7.4.1
  .hgtags
Due: none

Increase version number
  modules/stock_shipment_measurements/tryton.cfg
Due: documentation

Prepare release stock-7.4.2
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-7.4.2
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo

Prepare release stock-7.2.7
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-7.2.7
  .hgtags
Due: none

Prepare release stock-7.0.11
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-7.0.11
  .hgtags
Due: none

Prepare release stock-6.0.32
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-6.0.32
  .hgtags
Due: none

Prepare release sale-7.4.3
  modules/sale/CHANGELOG
  modules/sale/COPYRIGHT
Due: documentation, test-demo

Add tag sale-7.4.3
  .hgtags
Due: none

Increase version number
  modules/sale/tryton.cfg
Due: documentation, test-demo

Prepare release sale-7.2.9
  modules/sale/CHANGELOG
  modules/sale/COPYRIGHT
Due: documentation, test-demo

Add tag sale-7.2.9
  .hgtags
Due: none

Prepare release sale-7.0.11
  modules/sale/CHANGELOG
  modules/sale/COPYRIGHT
Due: documentation, test-demo

Add tag sale-7.0.11
  .hgtags
Due: none

Prepare release sale-6.0.20
  modules/sale/CHANGELOG
  modules/sale/COPYRIGHT
Due: documentation, test-demo

Add tag sale-6.0.20
  .hgtags
Due: none

Prepare release purchase-7.4.3
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.4.3
  .hgtags
Due: none

Increase version number
  modules/purchase/tryton.cfg
Due: documentation, test-demo

Prepare release purchase-7.2.7
  modules/purchase/CHANGELOG
  modules/purchase/COPYRIGHT
Due: documentation, test-demo

Add tag purchase-7.2.7
  .hgtags
Due: none

Prepare release purchase-7.0.10
  modules/purchase/CHANGELOG
  modules/purchase/COPYRIGHT
Due: documentation, test-demo

Add tag purchase-7.0.10
  .hgtags
Due: none

Prepare release purchase-6.0.20
  modules/purchase/CHANGELOG
  modules/purchase/COPYRIGHT
Due: documentation, test-demo

Add tag purchase-6.0.20
  .hgtags
Due: none
