Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Use TMPDIR as data folder to test demo
  .gitlab-ci.yml
Due: none

Limit the worker retry delay to maximum 1 hour
  trytond/trytond/worker.py
Due: check-flake8, check-isort

Make field_names optional in Model.default_get
  modules/marketing_campaign/marketing.py
  modules/marketing_campaign/sale_opportunity_reporting.py
  modules/marketing_campaign/sale_reporting.py
  modules/party/party.py
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/model/model.py
Due: documentation, check-flake8, check-isort, test-demo

Fill production moves with all default values
  modules/production/production.py
Due: check-flake8, check-isort, test-demo

Update default_get signature to add with_default parameter
  modules/marketing_campaign/marketing.py
  modules/marketing_campaign/sale_opportunity_reporting.py
  modules/marketing_campaign/sale_reporting.py
  modules/party/party.py
Due: check-flake8, check-isort, test-demo

Display quantity when searching product for stock move
  modules/stock/CHANGELOG
  modules/stock/move.py
  modules/stock/product.xml
  modules/stock/view/move_form.xml
  modules/stock/view/product_list_stock_move.xml
Due: documentation, check-flake8, check-isort, test-demo

Display quantity when searching location for stock move
  modules/stock/CHANGELOG
  modules/stock/move.py
  modules/stock/view/move_form.xml
Due: documentation, check-flake8, check-isort, test-demo

Display quantity when searching lot for stock move
  modules/stock_lot/CHANGELOG
  modules/stock_lot/stock.py
  modules/stock_lot/stock.xml
  modules/stock_lot/view/lot_list_stock_move.xml
  modules/stock_lot/view/move_form.xml
Due: documentation, check-flake8, check-isort

Do not use empty contextual date to calculate active of party relation
  modules/party_relationship/party.py
Due: check-flake8, check-isort

Use proper default value for Eval on account move (grafted from 1294a1c18863a45df2c3a2340bf2f2c7ec0d3e16)
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Use proper default value for Eval on account move
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Override _get_invoice_sale instead of create_invoice to set agent on invoice
  modules/commission/sale.py
Due: check-flake8, check-isort

Fix import order
  tryton/tryton/common/common.py
Due: check-flake8, check-isort

Do not try to create periods when renewing a fiscal year without periods
  modules/account/fiscalyear.py
Due: check-flake8, check-isort, test-demo

Replace loading attribute by visible for loading xxx2Many fields with dotted notation
  sao/src/model.js
  sao/src/view/form.js
  tryton/tryton/gui/window/view_form/model/record.py
  tryton/tryton/gui/window/view_form/view/form.py
  trytond/CHANGELOG
  trytond/doc/topics/views/index.rst
  trytond/trytond/ir/ui/form.rnc
  trytond/trytond/ir/ui/form.rng
  trytond/trytond/model/modelview.py
  trytond/trytond/tests/test_modelview.py
Due: documentation, check-flake8, check-isort, check-eslint, check-trytond-rng

Do not validate record on reload
  tryton/tryton/gui/window/view_form/model/record.py
Due: check-flake8, check-isort

Do not load validated fields
  sao/src/model.js
  tryton/tryton/gui/window/view_form/model/record.py
Due: check-flake8, check-isort, check-eslint

Do not run concurrently tests for french chorus account module (grafted from a36d2d2de2bc5ee937451a5050eb2ef582c62405)
  .gitlab-ci-modules.yml
  .gitlab-scripts/generate-ci.py
Due: check-flake8, check-isort

Do not run concurrently tests for french chorus account module
  .gitlab-ci-modules.yml
  .gitlab-scripts/generate-ci.py
Due: check-flake8, check-isort

Switch to searchable view when trigger search menu
  sao/src/screen.js
  sao/src/tab.js
  tryton/tryton/gui/window/form.py
  tryton/tryton/gui/window/view_form/screen/screen.py
  tryton/tryton/gui/window/view_form/view/screen_container.py
Due: check-flake8, check-isort, check-eslint

Use actual quantity of sale line when executing sale complaint
  modules/sale_complaint/CHANGELOG
  modules/sale_complaint/complaint.py
Due: documentation, check-flake8, check-isort

Always export the first plurals string and only consecutive plurals
  trytond/trytond/ir/translation.py
Due: check-flake8, check-isort
