Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Raise a warning for unknown country subdivision type
  modules/country/scripts/import_countries.py
Due: check-flake8, check-isort, test-demo

Support TEST_PYTHONWARNINGS in doctest
  trytond/doc/ref/tests.rst
  trytond/trytond/tests/test_tryton.py
Due: documentation, check-flake8, check-isort

Add new country subdivision types
  modules/country/country.py
Due: check-flake8, check-isort, test-demo

Prevent iOS from auto zooming on input focus
  sao/index.html
Due: none

Make payment group optional per process method
  modules/account_payment/CHANGELOG
  modules/account_payment/doc/design.rst
  modules/account_payment/payment.py
  modules/account_payment_braintree/account.py
  modules/account_payment_clearing/payment.py
  modules/account_payment_sepa/payment.py
  modules/account_payment_stripe/payment.py
Due: documentation, check-flake8, check-isort, test-demo

Process Stripe and Braintree payments on checkout
  modules/account_payment_braintree/routes.py
  modules/account_payment_stripe/routes.py
Due: check-flake8, check-isort

Fix DATE_TRUNC with date and time
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/tests/test_backend.py
Due: check-flake8, check-isort

Add support for DATE_TRUNC from INTERVAL to SQLite backend
  trytond/CHANGELOG
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/tests/test_backend.py
Due: documentation, check-flake8, check-isort

Add reporting with latest date and amount per statement journal
  modules/account_statement/CHANGELOG
  modules/account_statement/journal.py
  modules/account_statement/journal.xml
  modules/account_statement/statement.py
  modules/account_statement/tests/scenario_account_statement.rst
  modules/account_statement/view/statement_journal_list_reporting.xml
Due: documentation, check-flake8, check-isort, test-demo

Do not set the Group's context when setting a default group on xxx2Many
  sao/src/model.js
  tryton/tryton/gui/window/view_form/model/field.py
Due: check-flake8, check-isort, check-eslint

Order payments in payment group by date
  modules/account_payment/payment.py
Due: check-flake8, check-isort, test-demo

Do not delete optional value for fields not set by the call
  trytond/trytond/ir/ui/view.py
Due: check-flake8, check-isort

Test if contextual company id is positive before using it to get the timezone
  modules/company/ir.py
Due: check-flake8, check-isort, test-demo

Test if today is using the timezone of the contextual company
  modules/company/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Test that on_change_with getter use the name of the Function field
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Allow deleting routing or BOM linked together
  modules/production_routing/production.py
  modules/production_routing/routing.py
Due: check-flake8, check-isort, test-demo

Prepare release trytond-7.4.2
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.4.2
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.2.13
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.2.13
  .hgtags
Due: none

Prepare release trytond-7.0.22
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.22
  .hgtags
Due: none

Prepare release trytond-6.0.56
  trytond/CHANGELOG
Due: documentation

Add tag trytond-6.0.56
  .hgtags
Due: none

Prepare release tryton-7.4.2
  tryton/CHANGELOG
Due: documentation
