Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Always send id for the on_change calls
  proteus/proteus/__init__.py
  sao/src/model.js
  sao/src/screen.js
  tryton/tryton/gui/window/view_form/model/record.py
  tryton/tryton/gui/window/view_form/screen/screen.py
Due: check-flake8, check-isort, check-eslint

Do not select current record if it is no more in the group
  tryton/tryton/gui/window/view_form/view/list.py
Due: check-flake8, check-isort

Keep raising HTTPException in with_pool wrapper
  trytond/trytond/protocols/wrappers.py
Due: check-flake8, check-isort

Do not compute record name for negative id
  trytond/trytond/model/model.py
  trytond/trytond/tests/model.py
  trytond/trytond/tests/test_model.py
Due: check-flake8, check-isort

Test default_get with instance value and rec_name
  trytond/trytond/tests/test_model.py
Due: check-flake8, check-isort

Add package to internal shipment with transit
  modules/stock_package/CHANGELOG
  modules/stock_package/__init__.py
  modules/stock_package/stock.py
  modules/stock_package/stock.xml
  modules/stock_package/view/shipment_internal_form.xml
Due: documentation, check-flake8, check-isort

Rely on ShippingMixin to implement shipping service
  modules/stock_package_shipping_dpd/__init__.py
  modules/stock_package_shipping_dpd/stock.py
  modules/stock_package_shipping_mygls/__init__.py
  modules/stock_package_shipping_mygls/stock.py
  modules/stock_package_shipping_sendcloud/__init__.py
  modules/stock_package_shipping_ups/__init__.py
  modules/stock_package_shipping_ups/stock.py
Due: check-flake8, check-isort

Add shipping to internal shipment with transit
  modules/stock_package_shipping/CHANGELOG
  modules/stock_package_shipping/__init__.py
  modules/stock_package_shipping/stock.py
  modules/stock_package_shipping/stock.xml
  modules/stock_package_shipping/view/shipment_internal_form.xml
  modules/stock_package_shipping/view/shipment_internal_list.xml
Due: documentation, check-flake8, check-isort

Use warning format for no carrier warning on shipping
  modules/stock_package_shipping/stock.py
Due: check-flake8, check-isort

Add packed state to internal shipment
  modules/stock/CHANGELOG
  modules/stock/shipment.py
  modules/stock/shipment.xml
  modules/stock/tests/scenario_stock_shipment_internal_transit.rst
  modules/stock/view/shipment_internal_form.xml
Due: documentation, check-flake8, check-isort, test-demo

Update documentation of product attribute
  modules/product_attribute/CHANGELOG
  modules/product_attribute/doc/design.rst
  modules/product_attribute/doc/index.rst
  modules/product_attribute/doc/releases.rst
  modules/product_attribute/setup.py
Due: documentation, check-flake8, check-isort

Remove unnecessary metaclass in new model of product attribute module
  modules/product_attribute/product.py
Due: check-flake8, check-isort

Use an SSL Context when making a request to check the server version
  tryton/tryton/common/common.py
Due: check-flake8, check-isort

Search relational models by name in model graph
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Do not fail to render field without type in model graph
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Move test workflow graph under ir module test
  trytond/trytond/tests/test_ir.py
Due: check-flake8, check-isort

Test model graph report
  trytond/trytond/tests/test_ir.py
Due: check-flake8, check-isort

Compute default values of wizard view only for fields defined by value method
  trytond/trytond/wizard/wizard.py
Due: check-flake8, check-isort

Add relate to open products from sale
  modules/sale/CHANGELOG
  modules/sale/__init__.py
  modules/sale/product.py
  modules/sale/sale.py
  modules/sale/sale.xml
  modules/sale_price_list/__init__.py
  modules/sale_price_list/product.py
  modules/sale_price_list/sale.py
Due: documentation, check-flake8, check-isort, test-demo

Do not compute digits shift when digits is null
  sao/src/model.js
Due: check-eslint

Decrease the number of decimal digits by the factor shift
  sao/src/model.js
Due: check-eslint

Calculate digits shift even for all digits that are not None
  tryton/tryton/gui/window/view_form/model/field.py
Due: check-flake8, check-isort

Do not prevent to rewrite the same opportunity origin on sale
  modules/sale_opportunity/sale.py
Due: check-flake8, check-isort

Update documentation of product classification
  modules/product_classification/CHANGELOG
  modules/product_classification/doc/design.rst
  modules/product_classification/doc/index.rst
  modules/product_classification/doc/reference.rst
  modules/product_classification/doc/releases.rst
  modules/product_classification/setup.py
Due: documentation, check-flake8, check-isort

Merge tax line with the same key but computed separately
  modules/account/tax.py
  modules/account/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Use TMPDIR as data folder to test demo
  .gitlab-ci.yml
Due: none
