Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prevent saving record for readonly screen
  sao/src/tab.js
  tryton/tryton/gui/window/form.py
Due: check-flake8, check-isort, check-eslint

Prevent delete record if screen is not deletable
  sao/src/tab.js
Due: check-eslint

Do not set the unit price of the purchased lines from the request to zero
  modules/purchase_request/purchase_request.py
  modules/purchase_request/tests/scenario_purchase_request.rst
Due: check-flake8, check-isort

Add preprocess_values to ModelStorage
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/model/modelstorage.py
Due: documentation, check-flake8, check-isort

Add on_write to ModelStorage
  modules/account/move.py
  modules/account/view/move_line_tree.xml
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/ir/module.py
  trytond/trytond/ir/note.py
  trytond/trytond/ir/view/module_form.xml
  trytond/trytond/ir/view/module_list.xml
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
Due: documentation, check-flake8, check-isort, test-demo

Add partial index on sale and purchase line for relate from product
  modules/purchase/purchase.py
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Do not fetch Shopify locations without session parameters
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Order alphabetically Admin API access scopes in documentation
  modules/web_shop_shopify/doc/usage.rst
Due: documentation

Update documentation to labels used by Shopify
  modules/web_shop_shopify/doc/usage.rst
Due: documentation

Add required read access to Shopify locations
  modules/web_shop_shopify/doc/usage.rst
Due: documentation

Use guilabel to document Shopify access scopes
  modules/web_shop_shopify/doc/usage.rst
Due: documentation

Fix typo in size_limits of ModelStorage.write
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort

Require incoterm on sale for EU countries if intratstat is extended
  modules/account_stock_eu/__init__.py
  modules/account_stock_eu/sale.py
Due: check-flake8, check-isort

Call the actual super method of InteralShipmentReport
  modules/stock/shipment.py
Due: check-flake8, check-isort, test-demo

Test if company if filled before computing incoterm required
  modules/incoterm/sale.py
Due: check-flake8, check-isort

Convert empty string to None for match value
  trytond/trytond/model/match.py
  trytond/trytond/tests/test_model_match.py
Due: check-flake8, check-isort

Convert empty string to None for match value
  trytond/trytond/model/match.py
Due: check-flake8, check-isort

Make web ID on sale unique per web shop
  modules/web_shop/message.xml
  modules/web_shop/sale.py
Due: check-flake8, check-isort

Store Shopify order ID as web ID
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Use sorted payments to get sepa mandates
  modules/account_payment_sepa/payment.py
Due: check-flake8, check-isort

Use compute fields for timesheet cost
  modules/timesheet_cost/timesheet.py
Due: check-flake8, check-isort
