Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o /tmp
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.8
  variables:
    TRYTOND_DATABASE__PATH: /tmp
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  - touch /tmp/demo.sqlite
  ...

Sort SEPA payments by date
  modules/account_payment_sepa/payment.py
Due: check-flake8, check-isort

Use payable or receivable account as fallback to create clearing move of payment
  modules/account_payment_clearing/payment.py
Due: check-flake8, check-isort

Use current account at the clearing date for clearing move of payment
  modules/account_payment_clearing/payment.py
Due: check-flake8, check-isort

Use statement date to compute the start balance
  modules/account_statement/CHANGELOG
  modules/account_statement/statement.py
Due: documentation, check-flake8, check-isort, test-demo

Make company of statement readonly once there is a line
  modules/account_statement/statement.py
Due: check-flake8, check-isort, test-demo

Use compute fields for places on stock move
  modules/stock_product_location_place/stock.py
Due: check-flake8, check-isort

Remove or convert company domain into context domain
  modules/account/__init__.py
  modules/account/journal.xml
  modules/account/move.py
  modules/account/move.xml
  modules/account/move_template.xml
  modules/account/period.xml
  modules/account/tax.xml
  modules/account/view/move_context_form.xml
  modules/account/view/move_line_receivable_payable_context_form.xml
  modules/account/view/open_journal_ask_form.xml
  modules/account_export/account.xml
  modules/account_move_line_grouping/account.xml
  modules/account_rule/account.xml
Due: check-flake8, check-isort, test-demo

Read only the image from the selected cache
  modules/product_image/product.py
  trytond/trytond/ir/avatar.py
Due: check-flake8, check-isort

Do not retrieve current transaction to fetch model attribute
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort

Rename payment description into reference
  modules/account_payment/CHANGELOG
  modules/account_payment/payment.py
  modules/account_payment/view/payment_form.xml
  modules/account_payment/view/payment_list.xml
  modules/account_payment_braintree/view/payment_form.xml
  modules/account_payment_sepa/payment.py
  modules/account_payment_sepa/tests/test_module.py
  modules/account_payment_stripe/payment.py
  modules/account_payment_stripe/tests/scenario_account_payment_stripe.rst
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_dispute.rst
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_intent.rst
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_refund_failure.rst
  modules/account_payment_stripe/view/payment_form.xml
Due: documentation, check-flake8, check-isort, test-demo

Reuse of the secondary unit when crediting an invoice
  modules/account_invoice_secondary_unit/account.py
Due: check-flake8, check-isort

Render one AdrLine per street line in SEPA messages
  modules/account_payment_sepa/template/base.003.xml
  modules/account_payment_sepa/template/base.xml
Due: none

Make text and richtext fill vertically
  sao/src/sao.less
Due: none

Force update of address format
  modules/party/address.xml
Due: test-demo

Fix typo in message ID for invalid address format
  modules/party/address.py
Due: check-flake8, check-isort, test-demo

Add numbers property to address
  modules/party/address.py
  modules/party/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Support structured address in shipping services
  modules/stock_package_shipping_dpd/stock.py
  modules/stock_package_shipping_mygls/stock.py
  modules/stock_package_shipping_sendcloud/stock.py
  modules/stock_package_shipping_ups/stock.py
Due: check-flake8, check-isort

Add structured address
  modules/party/CHANGELOG
  modules/party/address.py
  modules/party/address.xml
  modules/party/party.py
  modules/party/tests/test_module.py
  modules/party/view/address_form.xml
  modules/party/view/address_form_simple.xml
  modules/party/view/address_format_form.xml
  modules/party/view/address_tree.xml
  modules/party/view/address_tree_sequence.xml
Due: documentation, check-flake8, check-isort, test-demo

Do not validate empty email in trytond-admin command
  trytond/trytond/commandline.py
Due: check-flake8, check-isort

Allow setting fallback user without corresponding field to email notification
  modules/notification_email/CHANGELOG
  modules/notification_email/notification.py
Due: documentation, check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
