Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Add tag sao-6.0.57
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Prepare release sale_secondary_unit-7.4.2
  modules/sale_secondary_unit/CHANGELOG
  modules/sale_secondary_unit/COPYRIGHT
Due: documentation

Add tag sale_secondary_unit-7.4.2
  .hgtags
Due: none

Increase version number
  modules/sale_secondary_unit/tryton.cfg
Due: documentation

Prepare release sale_secondary_unit-7.2.2
  modules/sale_secondary_unit/CHANGELOG
  modules/sale_secondary_unit/COPYRIGHT
Due: documentation

Add tag sale_secondary_unit-7.2.2
  .hgtags
Due: none

Prepare release sale_secondary_unit-7.0.2
  modules/sale_secondary_unit/CHANGELOG
  modules/sale_secondary_unit/COPYRIGHT
Due: documentation

Add tag sale_secondary_unit-7.0.2
  .hgtags
Due: none

Prepare release sale-7.4.4
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-7.4.4
  .hgtags
Due: none

Increase version number
  modules/sale/tryton.cfg
Due: documentation, test-demo

Prepare release sale-7.2.10
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-7.2.10
  .hgtags
Due: none

Prepare release sale-7.0.12
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-7.0.12
  .hgtags
Due: none

Prepare release sale-6.0.21
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-6.0.21
  .hgtags
Due: none

Prepare release purchase_secondary_unit-7.4.2
  modules/purchase_secondary_unit/CHANGELOG
  modules/purchase_secondary_unit/COPYRIGHT
Due: documentation

Add tag purchase_secondary_unit-7.4.2
  .hgtags
Due: none

Increase version number
  modules/purchase_secondary_unit/tryton.cfg
Due: documentation

Prepare release purchase_secondary_unit-7.2.3
  modules/purchase_secondary_unit/CHANGELOG
  modules/purchase_secondary_unit/COPYRIGHT
Due: documentation

Add tag purchase_secondary_unit-7.2.3
  .hgtags
Due: none

Prepare release purchase_secondary_unit-7.0.2
  modules/purchase_secondary_unit/CHANGELOG
  modules/purchase_secondary_unit/COPYRIGHT
Due: documentation

Add tag purchase_secondary_unit-7.0.2
  .hgtags
Due: none

Prepare release purchase-7.4.4
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.4.4
  .hgtags
Due: none

Increase version number
  modules/purchase/tryton.cfg
Due: documentation, test-demo

Prepare release purchase-7.2.8
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.2.8
  .hgtags
Due: none

Prepare release purchase-7.0.11
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.0.11
  .hgtags
Due: none
