Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o /tmp
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.8
  variables:
    TRYTOND_DATABASE__PATH: /tmp
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  - touch /tmp/demo.sqlite
  ...

Increase version number
  modules/purchase/tryton.cfg
Due: documentation, test-demo

Prepare release purchase-6.0.21
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-6.0.21
  .hgtags
Due: none

Prepare release account_statement-7.4.1
  modules/account_statement/CHANGELOG
  modules/account_statement/COPYRIGHT
Due: documentation, test-demo

Add tag account_statement-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_statement/tryton.cfg
Due: documentation, test-demo

Prepare release account_statement-7.2.3
  modules/account_statement/CHANGELOG
  modules/account_statement/COPYRIGHT
Due: documentation, test-demo

Add tag account_statement-7.2.3
  .hgtags
Due: none

Prepare release account_statement-7.0.4
  modules/account_statement/CHANGELOG
  modules/account_statement/COPYRIGHT
Due: documentation, test-demo

Add tag account_statement-7.0.4
  .hgtags
Due: none

Prepare release account_payment_sepa-6.0.9
  modules/account_payment_sepa/CHANGELOG
Due: documentation

Add tag account_payment_sepa-6.0.9
  .hgtags
Due: none

Increase version number
  modules/account_payment_sepa/tryton.cfg
Due: documentation

Prepare release account_move_line_grouping-7.4.1
  modules/account_move_line_grouping/CHANGELOG
  modules/account_move_line_grouping/COPYRIGHT
Due: documentation

Add tag account_move_line_grouping-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_move_line_grouping/tryton.cfg
Due: documentation

Prepare release account_move_line_grouping-7.2.2
  modules/account_move_line_grouping/CHANGELOG
  modules/account_move_line_grouping/COPYRIGHT
Due: documentation

Add tag account_move_line_grouping-7.2.2
  .hgtags
Due: none

Prepare release account_move_line_grouping-7.0.1
  modules/account_move_line_grouping/CHANGELOG
  modules/account_move_line_grouping/COPYRIGHT
Due: documentation

Add tag account_move_line_grouping-7.0.1
  .hgtags
Due: none

Add selection_change_with to Selection field's edition_depends
  trytond/trytond/model/fields/selection.py
Due: check-flake8, check-isort

Ensure that update_selection is called if init_selection has failed
  sao/src/common.js
Due: check-eslint

Reset to quotation Shopify sale with insufficient authorized payment amount
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Archive Shopify products removed instead of deleting them
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/product.py
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
  modules/web_shop_shopify/web.py
Due: documentation, check-flake8, check-isort

Do not update Shopify product with empty product description
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/product.py
Due: documentation, check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
