Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o /tmp
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.8
  variables:
    TRYTOND_DATABASE__PATH: /tmp
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  - touch /tmp/demo.sqlite
  ...

Fallback to plural message when index is greater than 0
  trytond/trytond/ir/message.py
Due: check-flake8, check-isort

Register model string translation as string field of ir.model
  trytond/trytond/ir/translation.py
Due: check-flake8, check-isort

Create translation of model and field using the proper name
  trytond/trytond/ir/translation.py
Due: check-flake8, check-isort

Test actually the translation when writing on model and field
  trytond/trytond/tests/test_modelsql.py
Due: check-flake8, check-isort

Use proper BOOLEAN type in init SQL of SQLite
  trytond/trytond/backend/sqlite/init.sql
Due: none

Add process method for Shopify payment method
  modules/web_shop_shopify/account.py
Due: check-flake8, check-isort

Do not copy asset lot when copying sale subscription line
  modules/sale_subscription_asset/sale.py
Due: check-flake8, check-isort

Create translation entry for model without docstring
  trytond/trytond/ir/translation.py
Due: check-flake8, check-isort

Remove unused docstring
  trytond/trytond/ir/action.py
  trytond/trytond/ir/configuration.py
  trytond/trytond/ir/cron.py
  trytond/trytond/ir/export.py
  trytond/trytond/ir/model.py
  trytond/trytond/ir/rule.py
  trytond/trytond/ir/sequence.py
  trytond/trytond/ir/translation.py
  trytond/trytond/ir/trigger.py
  trytond/trytond/ir/ui/icon.py
  trytond/trytond/ir/ui/menu.py
Due: check-flake8, check-isort

Update name of cost sale of shipments in copied default values
  modules/sale_shipment_cost/account.py
Due: check-flake8, check-isort

Save purchase request quotation before lines
  modules/purchase_request_quotation/purchase.py
Due: check-flake8, check-isort

Search waiting marketing automation record activities using record ID
  modules/marketing_automation/marketing_automation.py
Due: check-flake8, check-isort

Do not initialize ir_ui_view table with model NOT NULL
  trytond/trytond/backend/postgresql/init.sql
  trytond/trytond/backend/sqlite/init.sql
Due: none

Use predefine testing payment method instead of creating one
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_intent.rst
Due: check-flake8, check-isort

Get context from default config to get chart ID to create
  modules/account/tests/tools.py
Due: check-flake8, check-isort, test-demo

Use company id to set context to compute today
  modules/account_dunning_letter/dunning.py
Due: check-flake8, check-isort

Prepare release trytond-7.4.3
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.4.3
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.2.14
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.2.14
  .hgtags
Due: none

Prepare release trytond-7.0.23
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.23
  .hgtags
Due: none

Prepare release trytond-6.0.57
  trytond/CHANGELOG
Due: documentation

Add tag trytond-6.0.57
  .hgtags
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
