Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release sale_opportunity-7.4.2
  modules/sale_opportunity/CHANGELOG
  modules/sale_opportunity/COPYRIGHT
Due: documentation

Add tag sale_opportunity-7.4.2
  .hgtags
Due: none

Increase version number
  modules/sale_opportunity/tryton.cfg
Due: documentation

Prepare release sale_opportunity-7.2.4
  modules/sale_opportunity/CHANGELOG
  modules/sale_opportunity/COPYRIGHT
Due: documentation

Add tag sale_opportunity-7.2.4
  .hgtags
Due: none

Prepare release sale_opportunity-7.0.4
  modules/sale_opportunity/CHANGELOG
  modules/sale_opportunity/COPYRIGHT
Due: documentation

Add tag sale_opportunity-7.0.4
  .hgtags
Due: none

Prepare release sale_opportunity-6.0.3
  modules/sale_opportunity/CHANGELOG
  modules/sale_opportunity/COPYRIGHT
Due: documentation

Add tag sale_opportunity-6.0.3
  .hgtags
Due: none

Prepare release document_incoming-7.4.1
  modules/document_incoming/CHANGELOG
  modules/document_incoming/COPYRIGHT
Due: documentation

Add tag document_incoming-7.4.1
  .hgtags
Due: none

Increase version number
  modules/document_incoming/tryton.cfg
Due: documentation

Prepare release document_incoming-7.2.3
  modules/document_incoming/CHANGELOG
  modules/document_incoming/COPYRIGHT
Due: documentation

Add tag document_incoming-7.2.3
  .hgtags
Due: none

Prepare release document_incoming-7.0.3
  modules/document_incoming/CHANGELOG
  modules/document_incoming/COPYRIGHT
Due: documentation

Add tag document_incoming-7.0.3
  .hgtags
Due: none

Prepare release account_payment_sepa-7.4.1
  modules/account_payment_sepa/CHANGELOG
  modules/account_payment_sepa/COPYRIGHT
Due: documentation

Add tag account_payment_sepa-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_payment_sepa/tryton.cfg
Due: documentation

Prepare release account_payment_sepa-7.2.2
  modules/account_payment_sepa/CHANGELOG
  modules/account_payment_sepa/COPYRIGHT
Due: documentation

Add tag account_payment_sepa-7.2.2
  .hgtags
Due: none

Prepare release account_payment_sepa-7.0.1
  modules/account_payment_sepa/CHANGELOG
  modules/account_payment_sepa/COPYRIGHT
Due: documentation

Add tag account_payment_sepa-7.0.1
  .hgtags
Due: none

Prepare release account_payment_sepa-6.0.6
  modules/account_payment_sepa/CHANGELOG
  modules/account_payment_sepa/COPYRIGHT
Due: documentation

Add tag account_payment_sepa-6.0.6
  .hgtags
Due: none

Prepare release account_payment_clearing-7.4.1
  modules/account_payment_clearing/CHANGELOG
Due: documentation

Add tag account_payment_clearing-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_payment_clearing/tryton.cfg
Due: documentation

Prepare release account_payment_clearing-7.2.2
  modules/account_payment_clearing/CHANGELOG
Due: documentation

Add tag account_payment_clearing-7.2.2
  .hgtags
Due: none
