Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o /tmp
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.8
  variables:
    TRYTOND_DATABASE__PATH: /tmp
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  - touch /tmp/demo.sqlite
  ...

Set party of statement line readonly when state is not draft
  modules/account_statement/statement.py
Due: check-flake8, check-isort, test-demo

Reuse original readonly state of date of statement line
  modules/account_statement/statement.py
Due: check-flake8, check-isort, test-demo

Make statement line number readonly when statement is not draft
  modules/account_statement/statement.py
Due: check-flake8, check-isort, test-demo

Order lines in grouped line by descending id
  modules/account_move_line_grouping/account.py
Due: check-flake8, check-isort

Filter out reconciled lines from debit/credit/secondary amount of account grouped line
  modules/account_move_line_grouping/account.py
  modules/account_move_line_grouping/tests/scenario_account_move_line_grouping.rst
Due: check-flake8, check-isort

Allow SEPA messages to be downloaded at once
  modules/account_payment_sepa/CHANGELOG
  modules/account_payment_sepa/__init__.py
  modules/account_payment_sepa/payment.py
  modules/account_payment_sepa/payment.xml
  modules/account_payment_sepa/setup.py
  modules/account_payment_sepa/tests/scenario_account_payment_sepa.rst
  modules/account_payment_sepa/tests/test_scenario.py
Due: documentation, check-flake8, check-isort

Hide origin of incoming SEPA message
  modules/account_payment_sepa/payment.py
Due: check-flake8, check-isort

Backed out changeset 19ba2dfec607
  modules/stock_package_shipping_dpd/stock.py
Due: check-flake8, check-isort

Compare integrity error message with the constraint name prefixed by the table name
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Set readonly Screen of One2Many when parent group is readonly
  sao/src/screen.js
  sao/src/view/form.js
  tryton/tryton/gui/window/view_form/screen/screen.py
  tryton/tryton/gui/window/view_form/view/form_gtk/one2many.py
Due: check-flake8, check-isort, check-eslint

Use save current feature of Window Form when editing Many2Many record
  sao/src/view/form.js
  tryton/tryton/gui/window/view_form/view/form_gtk/many2many.py
Due: check-flake8, check-isort, check-eslint

Prepare release trytond-7.4.8
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.4.8
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.2.19
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.2.19
  .hgtags
Due: none

Prepare release trytond-7.0.28
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.28
  .hgtags
Due: none

Prepare release sao-7.4.7
  sao/CHANGELOG
  sao/COPYRIGHT
Due: documentation

Add tag sao-7.4.7
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.2.17
  sao/CHANGELOG
  sao/COPYRIGHT
Due: documentation

Add tag sao-7.2.17
  .hgtags
Due: none

Prepare release sao-7.0.26
  sao/CHANGELOG
  sao/COPYRIGHT
Due: documentation

Add tag sao-7.0.26
  .hgtags
Due: none

Prepare release sao-6.0.56
  sao/CHANGELOG
  sao/COPYRIGHT
Due: documentation

Add tag sao-6.0.56
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Prepare release stock_package_shipping_dpd-7.4.1
  modules/stock_package_shipping_dpd/CHANGELOG
  modules/stock_package_shipping_dpd/COPYRIGHT
Due: documentation

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
