Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Expand dictionary value set to a One2One field
  trytond/trytond/model/fields/one2one.py
Due: check-flake8, check-isort

Test setting value to xxx2One fields
  trytond/trytond/tests/test_field_many2one.py
  trytond/trytond/tests/test_field_one2one.py
Due: check-flake8, check-isort

Instantiate One2One target when the context of the field
  trytond/trytond/model/fields/one2one.py
Due: check-flake8, check-isort

Test context on target instance of One2One
  trytond/trytond/tests/field_one2one.py
  trytond/trytond/tests/test_field_one2one.py
Due: check-flake8, check-isort

Correctly document matching type for semicolon in search widget (grafted from 20d2229383ecf9f1314c6adc7452b9f6c21da92f)
  tryton/doc/usage.rst
Due: documentation

Correctly document matching type for semicolon in search widget
  tryton/doc/usage.rst
Due: documentation

Easy extending pattern for sender address of Sendcloud
  modules/stock_package_shipping_sendcloud/carrier.py
Due: check-flake8, check-isort

Add compute fields to ModelStorage
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/modelstorage.py
  trytond/trytond/tests/test_modelstorage.py
Due: documentation, check-flake8, check-isort

Use compute fields for internal quantities on stock move
  modules/stock/move.py
  modules/stock_shipment_measurements/stock.py
Due: check-flake8, check-isort, test-demo

Close the SQLite connection to memory database when the database has been dropped
  trytond/trytond/backend/sqlite/database.py
Due: check-flake8, check-isort

Store on the screen only the tree states of the current view
  sao/src/screen.js
  tryton/tryton/gui/window/view_form/screen/screen.py
Due: check-flake8, check-isort, check-eslint

Use saved tree state to restore selected record on form view
  tryton/tryton/gui/window/view_form/screen/screen.py
Due: check-flake8, check-isort

Scroll to the first selected element in tree view
  sao/src/screen.js
  sao/src/view/tree.js
Due: check-eslint

Link invoice lines and stock moves for different quantity sign if invoice method is not shipment
  modules/purchase/purchase.py
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Prepare release trytond-7.4.4
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-7.4.4
  .hgtags
Due: none
