Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Reset the pool instances only on the pool initialization
  trytond/trytond/pool.py
Due: check-flake8, check-isort

Remove a useless call to Cache.refresh_pool
  trytond/trytond/ir/module.py
Due: check-flake8, check-isort

Use TMPDIR for CI jobs (grafted from 6ecbe34f6bfcf0c46f3fc0218a50a46354ff0af7)
  .gitlab-ci.yml
Due: none

Use TMPDIR for CI jobs
  .gitlab-ci.yml
  .gitlab-scripts/generate-doc.sh
Due: none

Use TMPDIR for CI jobs (grafted from 6ecbe34f6bfcf0c46f3fc0218a50a46354ff0af7)
  .gitlab-ci.yml
  .gitlab-scripts/generate-doc.sh
Due: none

Use /dev/shm as database path in demo CI jobs
  .gitlab-ci.yml
Due: none

Use /dev/shm as database path in demo CI jobs (grafted from c4ab3ed92bf3bf2581e661019b59000c401932eb)
  .gitlab-ci.yml
Due: none

Do not call next_party for account without party required
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Retry locking tables at the same speed as the dispatcher request
  trytond/trytond/transaction.py
Due: check-flake8, check-isort

Retry locking tables at the same speed as the dispatcher request (grafted from 1e361bb682500fb423418719d6ee1d9f2e237f82)
  trytond/trytond/transaction.py
Due: check-flake8, check-isort

Ignore KeyError from the pool when filtering model names
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Do not refresh the pool when the notification comes from the same process
  trytond/trytond/cache.py
Due: check-flake8, check-isort

Display attachment preview only on top of form view for small screen
  sao/src/sao.less
Due: none

Set screen to ScreenContainer at instantiation
  sao/src/screen.js
  tryton/tryton/gui/window/view_form/screen/screen.py
  tryton/tryton/gui/window/view_form/view/screen_container.py
Due: check-flake8, check-isort, check-eslint

Don't overflow select tag arrow with the option text
  sao/src/sao.less
  sao/src/theme.less
Due: none

Use generic sidebar to display attachment preview
  sao/src/sao.less
  sao/src/tab.js
  tryton/tryton/gui/window/form.py
Due: check-flake8, check-isort, check-eslint

Add missing dot on the form-binary class selector
  sao/src/sao.less
Due: none

Do not add history to unnecessary model
  modules/sale_opportunity/__init__.py
  modules/sale_opportunity/account.py
  modules/sale_opportunity/company.py
  modules/sale_opportunity/party.py
  modules/sale_opportunity/product.py
  modules/sale_opportunity/tryton.cfg
Due: documentation, check-flake8, check-isort

Read only cost price from the history product when computing cost value
  modules/stock/product.py
Due: check-flake8, check-isort, test-demo

Ease customization of column and value for MeasurementsMixin
  modules/stock_shipment_measurements/stock.py
Due: check-flake8, check-isort

Add stock measurements on internal shipment
  modules/stock_shipment_measurements/CHANGELOG
  modules/stock_shipment_measurements/__init__.py
  modules/stock_shipment_measurements/stock.py
  modules/stock_shipment_measurements/stock.xml
  modules/stock_shipment_measurements/tests/test_module.py
Due: documentation, check-flake8, check-isort
